<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Web.Providers" version="1.0.1" />
  <package id="WindowsAzure.WebRole" version="1.0.0.0" />
  <package id="TransientFaultHandlingFx" version="1.5" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="WindowsAzure.ELMAH.Tables" version="1.0.0.0" />
</packages>